build/
.yotta.json
yotta_*

html/
.kubos-link.json
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Compile Folders
bin/

# Yotta
build/
yotta_targets/
yotta_modules/
.yotta.json

