build/
.yotta.json
yotta_*

html/
.kubos-link.json
# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Compile Folders
bin/

# Yotta
build/
yotta_targets/
yotta_modules/
.yotta.json

html
yotta_modules
yotta_targets
.yotta.json
build

.gdbinit
build
*.swp
.lock*
.waf*
.waf3*
waf-*/
*.o
*.pyc
.project
.cproject
~*
pdebug*
*.tar*
tags
.DS_store
*.pdf

.yotta.json
yotta_*

html/
*.swo
*.swp
*.swo
*.swp
.DS_Store
.yotta*
yotta_*
.kubos-link.json
.travis.yml
.yotta*
yotta_*
html/
