-r apis/app-api/python/requirements.txt
-r apis/pumpkin-mcu-api/requirements.txt
-r examples/pumpkin-mcu-api-example/requirements.txt
-r examples/python-mission-application/requirements.txt
-r examples/python-mission-framework/requirements.txt
-r examples/python-service/requirements.txt
-r hal/python-hal/i2c/requirements.txt
-r libs/kubos-service/requirements.txt
-r libs/kubos-test/requirements.txt
-r services/pumpkin-mcu-service/requirements.txt
-r tools/docs/requirements.txt