[package]
name = "kubos-service"
version = "0.1.0"
authors = ["Ryan Plauche <ryan@kubos.co>"]
edition = "2018"

[dependencies]
serde = "1.0"
serde_json = "1.0"
juniper = "0.11"
juniper_warp = "0.2.0"
kubos-system = { path = "../../apis/system-api" }
log = "^0.4.0"
warp = "0.1.12"
# Pinning this to 0.3.15 due to kubos linux build issues with v0.3.16
pkg-config = "= 0.3.15"

[dev-dependencies]
failure = "0.1.2"
